* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    object-fit: contain;
    background-image: url('logo.png'); /* Adjusted the URL with quotes */
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 242, 0, 0.5); /* Adjusted background color transparency */
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
}

.quiz-container {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.784);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 600px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}
h2 {
    text-align: center;
    color: #333;
}

.quiz-form {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
}

.question p {
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(109, 150, 254, 0.5);
    font-size: 16px;
}

button {
    background-color: #6d96fe;
    padding: 1rem;
    color: white;
    width: 100%;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 72, 229);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .quiz-container {
        margin: 20px auto;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .quiz-container {
        margin: 10px auto;
        padding: 10px;
    }
    
    select, button {
        padding: 0.75rem;
        font-size: 14px;
    }
}
