<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="quiz.css">

</head>


<body>

    <div class="container">
    <div class="quiz-container">
        <h2>Quiz</h2>
        <% if (questions) { %>
            <form class="quiz-form" action="/submit" method="post">
                <% questions.forEach((question, index)=> { %>
                    <div class="question">
                        <p>
                            <%= index + 1 %>. <%= question.question %>
                        </p>
                        <select name="quiz[]">
                            <option value="" disabled selected>Select an option</option>
                            <% question.options.forEach((option, optionIndex)=> { %>
                                <option value="<%= option %>">
                                    <%= option %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <% }); %>
                        <button type="submit">Submit</button>
            </form>
            <% } %>
    </div>
</div>

</body>

</html>