<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Score</title>
    <link rel="stylesheet" href="styles.css">
</head>

<style>
    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('logo.png');
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 242, 0, 0.5); /* Adjusted background color transparency */
    overflow-x: hidden; /* Ensures horizontal overflow is hidden */
    min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    width: 500px; /* Fixed width for larger screens, adjusts with max-width on smaller screens */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.score-card {
    background-color: #dfe4ff;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem; /* Added margin for spacing */
    text-align: center;
}

h1 {
    margin-bottom: 1rem; /* Added margin for spacing */
}

@media (max-width: 768px) {
    .card {
        width: 90%; /* Adjusting width for smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        padding: 1.5rem; /* Increased padding for better spacing on smaller screens */
    }
}

</style>

<body>
    <main>
        <div class="container">
            <div class="card">
                <h1>Thank You!</h1>
                <div class="score-card">
                    You Scored:
                    <span id="score"><%= score %></span> / <span id="total"><%= total %></span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
